
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <table>
        <tr>
            <th>Sno</th>
            <th>Name</th>
            <th>Mark</th>
            <th>Sub</th>
        </tr>

        {% for s in allroot %}
        <tr>
            <td>{{s.sno}}</td>
            <td>{{s.name}}</td>
            <td>{{s.mark}}</td>
            <td>{{s.sub}}</td>
            <td><a href="{% url 'update' s.sno %}">Update</a></td>
        </tr>
        {% endfor %}


    </table>
</body>
</html>